.main {
    height: 100vh;
}

.sidebar {
    background-color: #877c7b;
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px 50px;
}

.sidebar a:hover {
    background-color: #000;
}

.content {
    padding: 20px;
}

.sidebar a.active {
    background-color: #000;
    border-right: solid 4px orange;
}

.card-data{
    border: solid 1px;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
}

.card-data.book{
    background-color: #617ead;
}
.card-data.category {
    background-color: #61ad82;
}

.card-data.user {
    background-color: #ad8f61;
}

.card-data i{
    font-size: 35px;
}

.card-decs{
    font-size: 30px;
}

.card-count {
    font-size: 30px;
}

